<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form di Login</title>
    <link rel="stylesheet" href="~/css/Login/Index.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>



<!-- Header -->
<header class="Header">
    <div class="infoHeader">
        <img src="~/Immagini/logo.png" alt="Logo Tech Retail SpA" height="200px">

    </div>
</header>
<!-- Login Form -->
 <div style="display: flex;justify-content: center;">
<div class="form-container">

    <h2>Login</h2>
    <form action="/Login/Accesso" method="post" onsubmit="return valida() "> <!--da fare valida-->
        <label for="username">Inserisci indirizzo Mail</label>
        <input type="text" id="Mail" name="Mail" required>

        <label for="password">Password</label>
        <input type="password" id="Passw" name="Passw" required>

        <button type="submit">Accedi</button>
    </form>
</div>
 </div>
<script src="~/js/Login/Index.js"></script>
</body>
</html>
