body, h1, h2, h3, h4, h5, h6 { font-family: "Lato", sans-serif; }
.w3-bar, h1, button { font-family: "Montserrat", sans-serif; }

html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Blocca lo scroll verticale */
    background-color: #bd7d28;
}

.Navbar {
    width: 250px;
    background-color: #3b3b3b;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    right: -250px; /* Inizialmente nascosta */
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ffffff11;
    transition: right 0.3s ease-in-out;
}

.Navbar.open {
    right: 0; /* Mostra la navbar */
}

.toggleNavBtn {
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: #bd7d28;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
    transition: background 0.3s, transform 0.2s ease-in-out;
    border: 1px solid #3b3b3b;
}

.toggleNavBtn:hover {
    background-color: #d48722;
    transform: scale(1.1); /* Effetto zoom al passaggio */
}

/* Animazione per l'icona */
#navIcon {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.nav-open #navIcon {
    transform: rotate(180deg); /* Ruota l'icona quando la navbar Ã¨ aperta */
}

.Navbar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: x-large;
}

.navButtons {
    color: #bd7d28;
}

@keyframes electric-glow {
    0% { text-shadow: 0 0 5px #ffffff, 0 0 10px #ffcc00, 0 0 15px #ff6600; }
    50% { text-shadow: 0 0 10px #ffffff, 0 0 20px #ffcc00, 0 0 30px #ff3300; }
    100% { text-shadow: 0 0 5px #ffffff, 0 0 10px #ffcc00, 0 0 15px #ff6600; }
}

.Navbar a:hover { 
    background-color: #d48722; 
    color: #3b3b3b;
    animation: electric-glow 1s infinite alternate;
}

.logout:hover {
    background-color: #be2b06eb !important;
    animation: electric-glow 1s infinite alternate;
}

.Header {
    background-color: #3b3b3b;
}

.infoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Inventory {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

.Inventory button {
    background-color: #eb921c; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer;
    width: 40%;
    border-radius: 8px;
    font-size: large;
}

.Inventory button:hover {
    background-color: #d48722; 
    color: #3b3b3b;       
    animation: electric-glow 1s infinite alternate;
    font-weight: bold;
}

.utente {
    margin-right: 100px;
}

.Dashboard, .infoHeader {
    transition: margin-right 0.3s ease-in-out;
}    

.Dashboard {
    margin-right: 250px;
    background-color: #bd7d28;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.logout {
    margin-top: auto;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #bd7d28;
    color: #3b3b3b;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}


.product-details {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #555555;
    border-radius: 5px;
    background-color: #555555;
    color: #b8b8b8;
}

.product-details h2 {
    text-align: center;
    color: #eb921c;
}

.product-details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-details th, .product-details td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.product-details th {
    background-color: #3b3b3b;
    color: #ffffff;
}

.product-details ul {
    list-style-type: none;
    padding: 0;
}

.product-details ul li {
    margin-bottom: 5px;
}

.restock-btn {
    display: block;
    margin: 20px auto; /* Centra orizzontalmente */
}
